@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgb(53, 126, 221);
  color: #fff; */
}

.center {
  /* border: 5px solid; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

#container {
  position: relative;
  width: 60%;
  margin: 0 auto;
  /* border: 1px solid red; */
}
#header {
  height: auto;
  margin: 10px;
  padding: 10px;
  /* border: 1px solid blue; */
}

#nprogress .bar {
  background: #1677ff !important;
  height: 3px !important;
}

#nprogress .spinner .spinner-icon {
  width: 22px;
  height: 22px;
  border-top-color: #1677ff !important;
  border-left-color: #1677ff !important;
}

#nprogress .spinner {
  top: 15px;
  left: 15px !important;
}
